# Node
UnityPackage/Server~/node_modules/
UnityPackage/Server~/package-lock.json
npm-debug.log*

# Unity
UnityPackage/Library/
UnityPackage/Temp/
UnityPackage/Logs/
UnityPackage/obj/
UnityPackage/*.csproj
UnityPackage/*.sln

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Binaries
UnityPackage/Server~/bin/